// Keywords: migration, dispersal

initialize() {
	initializeMutationRate(1e-7);
	initializeMutationType("m1", 0.5, "e", -0.05);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 99999);
	initializeRecombinationRate(1e-8);
}

1 {
	migrationMatrix = matrix( //IMPORTANT: each row here is coded as a column in slim
		c(rep(0.05, 5),
		rep(0.04, 5),
		rep(0.03, 5),
		rep(0.02, 5),
		rep(0.01, 5)
		), nrow=5);
	
	subpopCount = nrow(migrationMatrix);
	for (i in 0:(subpopCount-1)){
		sim.addSubpop(i, 500);
	}
	
	for (i in 0:(subpopCount-1)){
		for (j in 0:(subpopCount-1)){
			if (i!=j){
			sim.subpopulations[i].setMigrationRates(sim.subpopulations[j],migrationMatrix[i,j]);
			sim.subpopulations[j].setMigrationRates(sim.subpopulations[i],migrationMatrix[j,i]);
			}
		}
	}
}


10000 late() { sim.outputFull(); }
